body {
    text-align: left;
}
p {
    padding-top: 70px;
    text-indent: 25px;
    color: darkgrey;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    letter-spacing: 3px;
}
